@{

    Layout = "~/Views/Shared/_LayoutCatalogo.cshtml";

}
@model IEnumerable<COPY_ST_9core.Models.Articulos>

@{
    List<String> tipos = ViewBag.Tipo;

  
}
@{
    ViewData["Title"] = "Catalogo Completo";
}



<h2>Catalogo Completo</h2>

<a class="js-scroll-trigger" asp-controller="Home" asp-action="Index">Volver</a>
<br />
<br />
@*<form method="post">

    <select name="tipo" class="form-control">
        @foreach (String tipo in tipos)
        {
            <option value="@tipo">@tipo</option>
        }
    </select>
    <button type="submit" class="btn-success">
        Mostrar articulos por tipo
    </button>

</form>*@
<div class="opacidad">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Articulos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Articulos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>

                        <img src="~/img/articulos/@item.Imagen" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
